@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.21 0.12 282.2);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.21 0.12 282.2);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.21 0.12 282.2);
  --primary: oklch(0.62 0.21 261.2);
  --primary-foreground: oklch(0.97 0.02 250);
  --secondary: oklch(0.95 0.01 250);
  --secondary-foreground: oklch(0.18 0.07 282.2);
  --muted: oklch(0.95 0.01 250);
  --muted-foreground: oklch(0.51 0.03 295.4);
  --accent: oklch(0.95 0.01 250);
  --accent-foreground: oklch(0.18 0.07 282.2);
  --destructive: oklch(0.66 0.21 0);
  --destructive-foreground: oklch(0.97 0.02 250);
  --border: oklch(0.91 0.03 274.3);
  --input: oklch(0.91 0.03 274.3);
  --ring: oklch(0.62 0.21 261.2);
  --chart-1: oklch(0.75 0.17 12);
  --chart-2: oklch(0.51 0.13 173);
  --chart-3: oklch(0.31 0.07 197);
  --chart-4: oklch(0.82 0.19 43);
  --chart-5: oklch(0.83 0.21 27);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.21 0.12 282.2);
  --foreground: oklch(0.97 0.02 250);
  --card: oklch(0.21 0.12 282.2);
  --card-foreground: oklch(0.97 0.02 250);
  --popover: oklch(0.21 0.12 282.2);
  --popover-foreground: oklch(0.97 0.02 250);
  --primary: oklch(0.67 0.24 257.2);
  --primary-foreground: oklch(0.18 0.07 282.2);
  --secondary: oklch(0.21 0.04 257.2);
  --secondary-foreground: oklch(0.97 0.02 250);
  --muted: oklch(0.21 0.04 257.2);
  --muted-foreground: oklch(0.71 0.05 275);
  --accent: oklch(0.21 0.04 257.2);
  --accent-foreground: oklch(0.97 0.02 250);
  --destructive: oklch(0.36 0.13 0);
  --destructive-foreground: oklch(0.97 0.02 250);
  --border: oklch(0.21 0.04 257.2);
  --input: oklch(0.21 0.04 257.2);
  --ring: oklch(0.56 0.22 284.3);
  --chart-1: oklch(0.58 0.16 220);
  --chart-2: oklch(0.49 0.13 160);
  --chart-3: oklch(0.63 0.21 30);
  --chart-4: oklch(0.77 0.19 280);
  --chart-5: oklch(0.62 0.21 340);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
